<section class="bg-primary" id="about">
    <div class="container">
        <div class="row col-md-6 col-lg-6">
            <div>
                <h3 class="text-center">Download</h3>
                <pre>$ bower install egjs</pre>
                <br>
                <h3 class="text-center">How to use?</h3>
                <pre><span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#274796; '> </span><span style='color:#074726; '>src</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"bower_components/jquery/jquery.js"</span><span style='color:#a65700; '>></span><span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#a65700; '>></span>
<span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#274796; '> </span><span style='color:#074726; '>src</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"bower_components/egjs/dist/pkgd/eg.pkgd.min.js"</span><span style='color:#a65700; '>></span><span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#a65700; '>></span></pre>

                <pre>$<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>#flick</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>flicking<span style='color:#808030; '>(</span><span style='color:#800080; '>{</span>
    duration <span style='color:#800080; '>:</span> <span style='color:#008c00; '>300</span><span style='color:#808030; '>,</span>
    circular <span style='color:#800080; '>:</span> <span style='color:#0f4d75; '>true</span>
<span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span></pre>

            </div>
        </div>
        <div class="row col-md-6 col-lg-6">
            <div>
                <div class="outlink">
                    <a href="https://github.com/naver/egjs/wiki/Download-and-Using-egjs/" class="btn btn-default btn-xl">Get Started!</a>&nbsp;&nbsp;&nbsp;
                    <a href="http://codepen.io/egjs/" class="btn btn-default btn-xl">DEMO</a>&nbsp;&nbsp;&nbsp;
                    <a href="latest/doc/" class="btn btn-default btn-xl">API Document</a>
                </div>
            </div>
        </div>
    </div>
</section>
