<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">'egjs' is a set of UI interactions, effects and utilities components library using jQuery, which brings easiest and fastest way to build web application in your way.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="text-center">Download</h3>
                <pre>$ bower install egjs</pre>
                <br>
                <h3 class="text-center">How to use?</h3>
                <pre><span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#274796; '> </span><span style='color:#074726; '>src</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"bower_components/jquery/jquery.js"</span><span style='color:#a65700; '>></span><span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#a65700; '>></span>
<span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#274796; '> </span><span style='color:#074726; '>src</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"bower_components/egjs/dist/pkgd/eg.pkgd.min.js"</span><span style='color:#a65700; '>></span><span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#a65700; '>></span></pre>

                <pre>$<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>#flick</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>flicking<span style='color:#808030; '>(</span><span style='color:#800080; '>{</span>
    duration <span style='color:#800080; '>:</span> <span style='color:#008c00; '>300</span><span style='color:#808030; '>,</span>
    circular <span style='color:#800080; '>:</span> <span style='color:#0f4d75; '>true</span>
<span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span></pre>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
                <h3 class="text-center">eg.flicking demo</h3>
                <div id="flick" class="flick">
                    <div id="item1">
                        <img src="assets/img/flicking/1.jpg" class="img-responsive" alt="flicking image 1">
                    </div>
                    <div id="item2">
                        <img src="assets/img/flicking/2.jpg" class="img-responsive" alt="flicking image 2">
                    </div>
                    <div id="item3">
                        <img src="assets/img/flicking/3.jpg" class="img-responsive" alt="flicking image 3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="outlink">
                    <a href="https://github.com/naver/egjs/wiki/Download-and-Using-egjs/" class="btn btn-default btn-xl">Get Started!</a>&nbsp;&nbsp;&nbsp;
                    <a href="http://codepen.io/egjs/" class="btn btn-default btn-xl">DEMO</a>&nbsp;&nbsp;&nbsp;
                    <a href="latest/doc/" class="btn btn-default btn-xl">API Document</a>
                </div>
            </div>
        </div>
    </div>
</section>
