<section class="bg-primary">
    <div class="container">
    </div>
</section>
<section class="bg-primary" id="github">
    <div class="container">
        <div class="">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">if you find egjs is useful</br>plz spread the word</h2>
                <hr class="primary">
                <img src="./assets/img/logotype2_white.svg" width="160"/>
                <p><a rel="nofollow" href="https://www.facebook.com/sharer.php?u=https://naver.github.io/egjs/" target="_blank">조아요</a></p>
            </div>
        </div>
    </div>
</section>
