<section class="bg-primary" id="github">
    <div class="container text-center">
        <a href="https://github.com/naver/egjs/"><img src="./assets/img/github.png" width="60"/><h3>github.com/naver/egjs</h3></a>
    </div>
</section>
<section class="bg-primary" id="share">
    <div class="container">
        <div class="">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">if you find egjs is useful</br>plz spread the word</h2>                <br>
                <img src="./assets/img/logotype2_white.svg" width="160"/>
                <div class="share-btns">
                <a rel="nofollow" href="https://www.facebook.com/sharer.php?u=https://naver.github.io/egjs/" target="_blank"><buttom class="fb-share">
                    <img src="https://www.facebook.com/rsrc.php/v3/yq/r/5nnSiJQxbBq.png"/>Share</button>
                </a>
                <iframe src="https://ghbtns.com/github-btn.html?user=naver&repo=egjs&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </div>
                <span>© NAVER Corp.</span>
            </div>
        </div>
    </div>
</section>
