<header data-index="0">
    <div class="header-content">
        <div class="header-content-inner container">
            <div class="brand-img">
                <!-- <img src="/assets/img/logotype1_white.svg" class="logo-type" alt="egjs logo"> -->
                <!-- <img src="/assets/img/logo.svg" class="logo" alt="egjs logo"> -->
                <!-- <img src="/assets/img/logotype2_white.svg" class="narrow" alt="egjs logo"> -->
                <!-- <img src="/assets/img/logotype1_white.svg" class="wide" alt="egjs logo"> -->
                <img src="./assets/img/type_white.svg" class="type" alt="egjs logo">
                <!-- <h1>Bower</h1> -->
                <img src="./assets/img/logo.svg" class="type" alt="egjs logo" style="
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
">


            </div>
            <div class="brand-desc">
                <h3 class="tagline">A set of UI interactions, effects and
 utilities components library</h3>
            </div>

            <!-- <h1>egjs</h1>
            <hr>
            <p class="desc"><span>&nbsp;A set of UI interactions, effects and&nbsp;<br>
            &nbsp;utilities components library using jQuery&nbsp;</span></p>
            <a href="latest/dist/eg.min.js" class="btn btn-primary btn-xl" download>Download v{{ site.latestVersion }}</a>&nbsp;&nbsp;&nbsp;
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
