<header data-index="0">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>egjs</h1>
            <hr>
            <p class="desc"><span>&nbsp;A set of UI interactions, effects and&nbsp;<br>
            &nbsp;utilities components library using jQuery&nbsp;</span></p>
            <a href="latest/dist/eg.min.js" class="btn btn-primary btn-xl" download>Download v{{ site.latestVersion }}</a>&nbsp;&nbsp;&nbsp;
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
