<head>
    <title>{{ site.data.egjs.component | downcase }}</title>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta property="og:title" content="egjs">
    <meta property="og:image" content="{{ site.data.egjs.ogimage }}">
    <meta name="Description" content="{{ site.data.egjs.desc }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab:700" rel="stylesheet">
    <link rel="stylesheet" href="../common/css/main.css">
</head>
    