<section class="bg-primary" id="opensource">
    <div class="container">
        <div class="">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Support & contributing</h2>
                <hr class="primary">
                <p> </p>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div>
                <h3>Support</h3>
                <p>If you have</p>
                <ul>
                    <li>general questions</li>
                    <li>any bug noticed</li>
                    <li>feature request on existing component</li>
                    <li>new component request</li>
                </ul>
                <p>please open an <a href="https://github.com/naver/egjs/issues?q=is%3Aopen">issue on GitHub</a></p>
                <br/>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div>
                <h3>If you want contribute</h3>
                <p>Feel free to submit pull requests, contributions are always welcome! Even the tiniest contributions to the script or to the documentation.</p>
                <p>GUIDE: <a href="https://github.com/naver/egjs/blob/master/CONTRIBUTING.md">How to contribute to egjs</a></p>
                <br/>

            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div>
                <h3>Updates</h3>
                <p>If you wish to get notified about important updates, you may star and watch the repository on <a href="https://github.com/naver/egjs">GitHub</a>.</p>
                <br>
            </div>
        </div>
    </div>
</section>
