<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/naver?utf8=%E2%9C%93&query=egjs" class="portfolio-box">
                    <img src="assets/img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                egjs all projects
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <span class="portfolio-box">
                    <img src="assets/img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="_portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-lg-4 col-sm-6">
                <span class="portfolio-box">
                    <img src="assets/img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="_portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</section>
