<section class="bg-primary" id="showcase">
    <div class="container">
        <div class=" col-md-4 col-lg-4 showcase-item">
            <h3>Flicking</h3>
            <p>판을 터치로 넘긴다</p>
            <div class="showcase-content">
                <div id="flick">
                    <div>
                          <div class="cell">
                          <span class="cell-number">1</span>
                          </div>
                    </div>
                    <div>
                        <div class="cell">
                        <span class="cell-number">2</span>
                        </div>
                    </div>
                    <div>
                        <div class="cell">
                        <span class="cell-number">3</span>
                        </div>
                    </div>
                    <div>
                        <div class="cell">
                        <span class="cell-number">4</span>
                        </div>
                    </div>
                    <div>
                        <div class="cell">
                        <span class="cell-number">5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-4 col-lg-4 showcase-item">
            <h3>Visible</h3>
            <p>엘리먼트가 뷰포트에서 보이는지 알 수 있다</p>
            <div class="showcase-content">
                <div id="visibleWrapper" class="scroller">
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-4 col-lg-4 showcase-item">
            <h3>InfiniteGrid</h3>
            <p>그리드 아이템을 무한대로 스크롤 할 수 있다</p>
            <div class="showcase-content">
                <div id="infiniteGridWrapper" style="visibility:hidden">
                </div>
            </div>
        </div>
        <div class=" col-md-4 col-lg-4 showcase-item">
            <h3>MovableCoord</h3>
            <p>터치 공간을 정의하여 UI에 맵핑할 수 있다</p>
            <div class="showcase-content">
                <div id="movableCoordWrapper">
                    <div class="hand">
                    	<div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                    </div>
            </div>
            <div class="movableDot"></div>
        </div>
    </div>
</section>
