<section class="bg-primary" id="showcase">
    <div class="container">
        <div class=" col-md-4 col-lg-4 showcase-item">

            <a class="page-scroll" href="#flicking">
                <h3>Flicking</h3>
                <p>Fully customazable flicking interaction</p>
            </a>
            <div class="showcase-content">
                <div id="flick">
                    <div>
                          <div class="cell">
                          <span class="cell-number">1</span>
                          </div>
                    </div>
                    <div>
                        <div class="cell">
                        <span class="cell-number">2</span>
                        </div>
                    </div>
                    <div>
                        <div class="cell">
                        <span class="cell-number">3</span>
                        </div>
                    </div>
                    <div>
                        <div class="cell">
                        <span class="cell-number">4</span>
                        </div>
                    </div>
                    <div>
                        <div class="cell">
                        <span class="cell-number">5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-4 col-lg-4 showcase-item">
            <a class="page-scroll" href="#visible">
                <h3>Visible</h3>
                <p>Check whether elements are visible</p>
            </a>
            <div class="showcase-content">
                <div id="visibleWrapper" class="scroller">
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card item">
                        <i class="fa fa-eye visible-icon" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash invisible-icon" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-4 col-lg-4 showcase-item">
            <a class="page-scroll" href="#infinitegrid">
                <h3>InfiniteGrid</h3>
                <p>Scroll cascading grid layout infinitely</p>
            </a>
            <div class="showcase-content">
                <div id="infiniteGridWrapper" style="visibility:hidden">
                </div>
            </div>
        </div>
        <div class=" col-md-4 col-lg-4 showcase-item">
            <a class="page-scroll" href="#movablecoord">
                <h3>MovableCoord</h3>
                <p>Bind virtual scroll to your own UI</p>
            </a>
            <div class="showcase-content">
                <div id="movableCoordWrapper">
                    <div class="hand">
                    	<div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                        <div class="handcard" style=""><img class="logo_mono" src="./assets/img/logo_mono.svg"></div>
                    </div>
            </div>
            <div class="movableDot"></div>
        </div>
    </div>
</section>
