<!-- ******HEADER****** -->
<header id="header" class="header">
        <div class="container">
            <div class="logo pull-left home">
                <a href="https://{{ site.data.egjs.github.user }}.github.io/{{ site.data.egjs.github.repo }}">
                    <img class="egjs_logo" src="../common/img/type_black.svg"/>
                    {{site.data.egjs.component | downcase}}
                </a><!--//logo-->
                <a href="https://github.com/{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}/releases/tag/{{ site.data.version }}">
                    <span class="version">{{ site.data.version }}</span>
                </a>
            </div>
            <div class="pull-right home">
                <a target="_blank" href="//{{ site.data.egjs.github.user }}.github.io/{{ site.data.egjs.github.repo }}/release/latest/doc/"> API </a>/ 
                <a target="_blank" href="//github.com/{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}"> Github </a>
            </div>

        </div>
</header><!--//header-->