    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">egjs by <a href="http://navercorp.com/" target="_blank">NAVER corp.</a></small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.scrollTo.min.js"></script>
<!--     <script type="text/javascript" src="../../assets/js/prism-min.js"></script> -->
    <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../assets/js/demo.js"></script>

