#showcase {
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #ffce00;
}

#showcase h3 {
    color: #8c532e;
    font-size: 32px;
    font-weight: 600;
    width:100%;
}
#showcase p {
    color: #8c532e;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.showcase-content {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateZ(0px);
    overflow:hidden;
}
.showcase-item {
    margin-bottom: 40px;
    text-align: center;
    margin: 0 auto;
    float: none;
}
#movableCoordWrapper { position: relative; height: 100%; width: 100%; -webkit-perspective: 450px; -moz-perspective: 450px; -ms-perspective: 450px; -o-perspective: 450px; perspective: 450px; }

.movableDot { width: 10px; height: 10px; background-color: #FFF; position: absolute; left: 50%; bottom: 0; border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55); /* left: 0px; */ margin-left: -5px; margin-bottom: 60px; opacity: .9; }

.hand { margin-top: -70px; position: relative; width: 1000px; height: 1000px; border-radius: 500px; font-size: 0px; text-align: center; margin-left: -500px; left: 50%; }

.handcard { display: inline-block; width: 130px; height: 190px; margin-left: -30px; background-color: #8c532e; border-radius: 5px; padding: 25px 15px; box-sizing: border-box; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35); position: relative; border-radius: 5px; font-size: 0px; }

.handcard img { margin-top: 12px; width: 90px; user-drag: none; user-select: none; -moz-user-select: none; -webkit-user-drag: none; -webkit-user-select: none; -ms-user-select: none; }
