#coverarea {
  width:300px;
  height:400px;
  border:10px solid #888;
  overflow:hidden;
  margin-bottom: 20px;
  border-radius: 4px;
}

#lists {
  position:relative;
  list-style:none;
  margin:0;
  padding:0;
  width:300px;
}

#lists li {
  position:absolute;
  margin:0;
  padding:0;
  width:300px;
  height:400px;
  font-size:1.75em;
  -webkit-transform:translate3d(0,0,0);
}