========== Commit Format ==========
<type>(<module>): <subject>
<BLINK LINE>
<body>(option)
<BLINK LINE>
<footer>
============= Sample ==============
fix(movableCoord): update aborting animation logic

Abort the animating post process when "tap" occurs or velocity is zero at inside border.
 
ref #30
============ More See =============
https://github.com/egjs/egjs/wiki/Commit-Guidelines

