<!DOCTYPE html>
<html lang="en">
{% include demo/head.html %}
{% for css in page.css_srcs %}
	<link rel="stylesheet" href="./{{ css }}">
{% endfor %}
<body>
{% include demo/facebook.html %}
{% include demo/header.html %}
{% include demo/promo.html %}
<div>
	<section id="about" class="docs section">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Get Started</h2>
				{% capture started %}{% include_relative started.md %}{% endcapture %}
				{{ started | markdownify }}
			</div>
		</div>
	</section>
	<section id="docs" class="docs section" style="background-color: #17baef">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Demos</h2>
				{% capture demo %}{% include_relative demo.md %}{% endcapture %}
				{{ demo | markdownify }}
			</div>
		</div>
	</section>
</div>
{% include demo/footer.html %}
</body>
</html>