<!DOCTYPE html>
<html>
{% include main_head.html %}
<body>
    <div class="wrap">
    <div class="header">
            <a href="{{site.data.egjs.home}}">
                <img class="home" src="./common/img/type_black.svg"/>
            </a><!--//logo-->
            <a class="github" href="{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}">Github</a>
        </div>
<header>                    
    <h1>
        {{ site.data.egjs.component | downcase }}

        <a href="https://github.com/{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}/releases/tag/{{ site.data.version }}">
            <span class="version">{{ site.data.version }}</span>
        </a>
    </h1>

    <p>{{ site.data.egjs.desc }}</p>
</header>
<section id="tools">        
{% for subComponents in site.data.egjs.subComponents %}
<article>
        <div class="container">
            <a class="thumb-link" href="./{{ subComponents.name | downcase }}/" title="{{ subComponents.name }}">
                <div class="cover-image" style="background-image: url(./assets/img/{{ subComponents.name }}.png)"></div>
            </a>

            <div class="content">    
            <a class="h-link title" href="./{{ subComponents.name | downcase }}/">
                <h3>{{ subComponents.name }}</h3>
            </a>
            <div class="download-links">
                {% for dist in subComponents.dists %}
                <a class="h-link" href="{{ subComponents.distPath }}{{ dist.filename }}">
                    {{ dist.filename }} <span class="size">{{ dist.size }}kb</span>
                </a>
                {% endfor %}
            </div>
            
            <p>
                {{ subComponents.desc }}<br/>
                <span class="hashtag">
                    {% for hashtag in subComponents.hashtags %}
                    #{{ hashtag }} 
                    {% endfor %}
                </span>
            </p>                 
            <a class="h-link ref-link" href="./{{ subComponents.name | downcase }}" class="button example">Read the Tutorial</a></br>
        </div></div>  
    </article>
{% endfor %}
</section>

{% include footer.html %}
<script>
</script>
</body>
</html>