<!DOCTYPE html>
<html lang="en">
{% include subcomponent_head.html %}
{% for css in site.data.egjs.css %}
	<link rel="stylesheet" href="{{ css }}">
{% endfor %}
{% for dist in site.data.egjs.dist %}
	<script src="../{{ dist }}"></script>
{% endfor %}
<script>
	var homeUrl = window.location.href;
	if (homeUrl.indexOf("#") !== -1) {
		homeUrl = homeUrl.substr(0, homeUrl.indexOf("#"));
	}
	homeUrl = homeUrl
		.replace("/index.html", "/")
		.replace("/gallery.html", "/");
	if (homeUrl[homeUrl.length-1] !== "/") {
		homeUrl += "/";
	};
	window.HOMELINK = homeUrl;
	window.LIBLINK = [];
	{% for dist in site.data.egjs.dist %}
	window.LIBLINK.push(window.HOMELINK + "{{ dist }}");
	{% endfor %}
</script>
<body>

{% for subComponent in site.data.egjs.subComponents %}
{% if subComponent.name == page.subComponentName %}
	{% assign subComponent = subComponent %}
{% endif %}
{% endfor %}

{% include subcomponent_header.html %}
<section id="promo" class="promo section">
		<div class="container">
			<div class="hero-image" style="background-image: url(../assets/img/{{ subComponent.name }}.png)">
			</div>
			<h2 class="title">	
				<span class="highlight">{{ subComponent.name }}</span>
			</h2>
			<p class="intro">{{ subComponent.desc }}<br/>
				<span class="hashtag">		
					{% for hashtag in subComponent.hashtags %}
					#{{ hashtag }} 
					{% endfor %}
				</span>
			</p>
		</div>
	</section>
<div>

	<section id="showcase" class="docs section">
		<div class="container">
			<div class="docs-inner">				
				<h2 class="title text-center">Showcase</h2>
				{% capture demo %}{% include_relative {{ subComponent.name | downcase }}_showcase.md %}{% endcapture %}
				{{ demo | markdownify }}
			</div>
		</div>
	</section>
	<section id="index" class="section">
			<div class="container">
				<div class="docs-inner">
					<p class="text-center">
						<a href="#features">Features </a>/
						<a href="#getting-started">Getting Started </a>
						
						{% if subComponent.tools %}
							/ <a href="#tools">Tools </a>
						{% endif %}
						{% if subComponent.examples %}
							/ <a href="#examples">Examples </a>
						{% endif %}
						{% if subComponent.projects %}
							/ <a href="#projects">Projects </a>
						{% endif %}
					</p>
				</div>
			</div>
		</section>
	<section id="features" class="docs section">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Features</h2>
				{% capture started %}{% include_relative {{ subComponent.name | downcase }}_features.md %}{% endcapture %}
				{{ started | markdownify }}
			</div>
		</div>
	</section>
	<section id="getting-started" class="docs section">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Getting Started</h2>
				{% capture started %}{% include_relative {{ subComponent.name | downcase }}_started.md %}{% endcapture %}
				{{ started | markdownify }}
			</div>
		</div>
	</section>
	{% if subComponent.examples %}
	{% assign examples = subComponent.examples %}
	<section id="examples" class="docs section">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Examples</h2>
				<ul class="link_list">
				{% for example in examples %}
				<li class="link_item">
					<a href="{{ example.url }}" class="td_a">
						<div class="link_item_image">
							<img src="{{ example.image }}" width="166" height="108">
						</div>
						<div class="link_item_title">
							<span class="">{{ example.name }}</span>
						</div>
					</a>
				</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	{% endif %}
	{% if subComponent.tools %}
	{% assign tools = subComponent.tools %}
		<section id="tools" class="docs section">
			<div class="container">
				<div class="docs-inner">
					<h2 class="title text-center">Tools</h2>
					<ul class="link_list">
					{% for tool in tools %}
					<li class="link_item">
						<a href="{{ tool.url }}" class="td_a">
							<div class="link_item_image">
								<img src="{{ tool.image }}" width="166" height="108">
							</div>
							<div class="link_item_title">
								<span class="">{{ tool.name }}</span>
							</div>
						</a>
					</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</section>
	{% endif %}
	{% if subComponent.projects %}
	{% assign projects = subComponent.projects %}
	<section id="projects" class="docs section">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Projects</h2>
				<ul class="link_list">
				{% for project in projects %}
				<li class="link_item">
					<a href="{{ project.url }}" class="td_a">
						<div class="link_item_image">
							<img src="{{ project.image }}" width="166" height="108">
						</div>
						<div class="link_item_title">
							<span class="">{{ project.name }}</span>
						</div>
					</a>
				</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	{% endif %}

</div>
{% include subcomponent_footer.html %}
{% for js in site.data.egjs.js %}
	<script src="{{ js }}"></script>
{% endfor %}
</body>
</html>