<?js
    var params = obj;
    
    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        if (!param) { return; }
        if ( parentParam && param.name && param.name.indexOf(parentParam.name + '.') === 0 ) {
            param.name = param.name.substr(parentParam.name.length+1);
            parentParam.subparams = parentParam.subparams || [];
            parentParam.subparams.push(param);
            params[i] = null;
        }
        else {
            parentParam = param;
        }
    });
    
    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;
   
    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable || param.variable) {
            params.hasAttributes = true;
        }
        
        if (param.name) {
            params.hasName = true;
        }
        
        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });
?>

<ul class="parameters">
    <?js
        var self = this;
        params.forEach(function(param) {
            if (!param) { return; }
    ?>
    <li>
        <!-- parameter name -->
        <div>
            <strong><?js= param.name ?></strong>
            <?js if (params.hasDefault && typeof param.defaultvalue !== 'undefined') {?>
                (default: <code><?js= self.htmlsafe(param.defaultvalue) ?></code>)
            <?js } ?>

            <?js if (params.hasAttributes) {?>
                <?js if (param.optional) { ?>
                    <span class="optional">optional</span>
                <?js } ?>
                <?js if (param.nullable) { ?>
                    <span class="nullable">nullable</span>
                <?js } ?>
                    
                <?js if (param.variable) { ?>
                    <span class="repeatable">repeatable</span>
                <?js } ?>
            <?js } ?>
        </div>
        <!-- parameter type -->
        <?js if (param.type && param.type.names) {?>
        <div>Type: <?js= self.partial('type.tmpl', param.type.names) ?></div>
        <?js } ?>
    
        <!-- Description -->
        <div>
            <?js if (param.description) { 
                var enDesc = param.description.replace(/<ko>(.|\n)*?<\/ko>/, "");
                var koMatch = param.description.match(/<ko>((.|\n)*?)<\/ko>/, "");
                var koDesc = koMatch && "<p>" + koMatch[1] + "</p>";
            ?>
            <div class="description en"><?js= enDesc ?></div>
            <div class="description ko"><?js= koDesc || enDesc ?></div>
            <?js } ?>
        </div>

        <!-- Sub parameters -->
        <?js if (param.subparams) { ?>
            <?js= self.partial('params.tmpl', param.subparams) ?>
        <?js } ?>
    </li>
    <?js }); ?>
</ul>